<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="simplemde.min.css">
    <script src="simplemde.min.js"></script>
    <script src="marked.min.js"></script>
</head>
<body>
    <h1>Hola {{name}}</h1>
    <div class="" style="width: 800px;">
        <form action="#" method="post">
            <input type="text" name="title" id="title">
            <textarea name="content" id="editor"></textarea>
            <input type="text" name="hashtag" id="hashtag">
            <button id="boton">enviar</button>
        </form>
    </div>
    <div class="pintar" id="pintar">

    </div>
</body>
<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
    document.getElementById('pintar').innerHTML = marked('# Marked in the browser\n\nRendered by **marked**.');
            let boton = document.getElementById('boton');
                let title = document.getElementById('title');
                let content = document.getElementById('editor');
                let hashtag = document.getElementById('hashtag');

                boton.addEventListener('click', function(e){
                    e.preventDefault();
                    let data = {
                        title: title.value,
                        content: simplemde.value(),
                        hashtag: hashtag.value,
                        user_id: 1010
                    }

                    fetch("http://localhost:3000/create/post", {
                    method: "post",
                    headers: {'Content-Type': 'application/json'},

                    //make sure to serialize your JSON body
                    body: JSON.stringify(data)
                    })
                    .then( (response) => { 
                        return response.json()
                    }).then((data) => console.log(data))
                    .catch((e) => e);
                });
</script>
</html>