<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <script src="http://localhost:3000/marked.min.js"></script>
</head>
<body>
    <div class="contenido">
        <div class="pintar" id="pintar"></div>
    </div>

</body>
<script>
let boton = document.getElementById('boton');
let posteos = [];

window.onload = function(e){
    const post_id = location.pathname.substring(6)
    console.log(post_id);
    fetch(`http://localhost:3000/api/post/${post_id}`)
    .then( (response) => { 
        return response.json()
    }).then((data) => {
      
        document.getElementById('pintar').innerHTML += `<h1>${data.title}</h1>`
        document.getElementById('pintar').innerHTML += marked(data.content);
      
    }).catch((e) => e);
}


    
</script>
</html>